/*! CSS Used from: https://mobirise.com/bootstrap-template/about-us-page-template/assets/bootstrap/css/bootstrap.min.css */
@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

section {
  display: block;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}

@media (min-width: 768px) {
  .justify-content-md-center {
    -ms-flex-pack: center !important;
    -webkit-box-pack: center !important;
            justify-content: center !important;
  }
}

/*! CSS Used from: https://mobirise.com/bootstrap-template/about-us-page-template/assets/bootstrap/css/bootstrap-grid.min.css */
*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}

@media (min-width: 768px) {
  .justify-content-md-center {
    -ms-flex-pack: center !important;
    -webkit-box-pack: center !important;
            justify-content: center !important;
  }
}

/*! CSS Used from: https://mobirise.com/bootstrap-template/about-us-page-template/assets/bootstrap/css/bootstrap-reboot.min.css */
*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

section {
  display: block;
}

/*! CSS Used from: https://mobirise.com/bootstrap-template/about-us-page-template/assets/theme/css/style.css */
section {
  background-color: #eeeeee;
}

section,
.container {
  position: relative;
  word-wrap: break-word;
}

section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.mbr-white {
  color: #ffffff;
}

/*! CSS Used from: https://mobirise.com/bootstrap-template/about-us-page-template/assets/mobirise/css/mbr-additional.css */
.cid-qyvcqB36eR {
  padding-top: 135px;
  padding-bottom: 135px;
  background-image: url("https://mobirise.com/bootstrap-template/about-us-page-template/assets/images/mitch-rosen-188054-2000x1125.jpg");
}

/*! CSS Used from: https://mobirise.com/bootstrap-template/about-us-page-template/assets/web/assets/mobirise-icons/mobirise-icons.css */
[class*=" mbri-"] {
  font-family: MobiriseIcons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*! CSS Used from: https://mobirise.com/bootstrap-template/about-us-page-template/assets/bootstrap/css/bootstrap.min.css */
/*! CSS Used from: https://mobirise.com/bootstrap-template/about-us-page-template/assets/theme/css/style.css */
section {
  background-color: #eeeeee;
}

section,
.container {
  position: relative;
  word-wrap: break-word;
}

h4 {
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word;
}

section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.media-container-row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: start;
}

@media (min-width: 992px) {
  .media-container-row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.card {
  background-color: transparent;
  border: none;
}

.card-img {
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

/*! CSS Used from: https://mobirise.com/bootstrap-template/about-us-page-template/assets/mobirise/css/mbr-additional.css */
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}

.display-5 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
}

.display-7 {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .display-5 {
    font-size: 1.2rem;
    font-size: calc(1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}

.card-img {
  width: auto;
}

.cid-qyvcAqZyNq {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}

.cid-qyvcAqZyNq .mbr-text {
  color: #232323;
}

.cid-qyvcAqZyNq h4 {
  text-align: center;
}

.cid-qyvcAqZyNq p {
  text-align: center;
}

.cid-qyvcAqZyNq .card-img span {
  font-size: 96px;
  color: #149dcc;
}

/*! CSS Used from: https://mobirise.com/bootstrap-template/about-us-page-template/assets/web/assets/mobirise-icons/mobirise-icons.css */
[class^="mbri-"] {
  font-family: MobiriseIcons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*! CSS Used from: https://mobirise.com/bootstrap-template/about-us-page-template/assets/bootstrap/css/bootstrap.min.css */
@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

section {
  display: block;
}

h2,
h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

img {
  vertical-align: middle;
  border-style: none;
}

[role="button"],
a {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

h2,
h3 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.col-12,
.col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .col-md-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  transition: -webkit-transform 0.6s ease;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.carousel-item.active {
  display: block;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

/*! CSS Used from: https://mobirise.com/bootstrap-template/about-us-page-template/assets/bootstrap/css/bootstrap-grid.min.css */
*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.col-12,
.col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .col-md-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

/*! CSS Used from: https://mobirise.com/bootstrap-template/about-us-page-template/assets/bootstrap/css/bootstrap-reboot.min.css */
*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

section {
  display: block;
}

h2,
h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

img {
  vertical-align: middle;
  border-style: none;
}

[role="button"],
a {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/*! CSS Used from: https://mobirise.com/bootstrap-template/about-us-page-template/assets/theme/css/style.css */
section {
  background-color: #eeeeee;
}

section,
.container {
  position: relative;
  word-wrap: break-word;
}

a {
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
}

h2,
h3,
.display-2 {
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word;
}

section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.align-center {
  text-align: center;
}

@media (max-width: 767px) {
  .align-center,
  .mbr-section-title {
    text-align: center;
  }
}

.mbr-light {
  font-weight: 300;
}

.media-container-row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: start;
}

@media (min-width: 992px) {
  .media-container-row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

/*! CSS Used from: https://mobirise.com/bootstrap-template/about-us-page-template/assets/mobirise/css/mbr-additional.css */
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}

.mbr-section-subtitle {
  line-height: 1.3;
}

.display-2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 3rem;
}

.display-5 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .display-2 {
    font-size: 2.4rem;
    font-size: calc(1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc(1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}

a,
a:hover {
  color: #149dcc;
}

.carousel-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cid-qyvf5b5WEt {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffe0e7;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe0e7), to(#ecfafc));
  background: linear-gradient(#ffe0e7, #ecfafc);
}

.cid-qyvf5b5WEt .carousel-control {
  background: #000;
}

.cid-qyvf5b5WEt .mbr-section-subtitle {
  color: #232323;
}

.cid-qyvf5b5WEt .carousel-item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cid-qyvf5b5WEt .carousel-item .media-container-row {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cid-qyvf5b5WEt .carousel-item .wrap-img {
  text-align: center;
}

.cid-qyvf5b5WEt .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}

.cid-qyvf5b5WEt .carousel-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cid-qyvf5b5WEt .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}

.cid-qyvf5b5WEt .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}

.cid-qyvf5b5WEt .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}

.cid-qyvf5b5WEt .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}

.cid-qyvf5b5WEt .cloneditem-1,
.cid-qyvf5b5WEt .cloneditem-2,
.cid-qyvf5b5WEt .cloneditem-3,
.cid-qyvf5b5WEt .cloneditem-4 {
  display: none;
}

.cid-qyvf5b5WEt .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

@media (min-width: 992px) {
  .cid-qyvf5b5WEt .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
            flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-qyvf5b5WEt .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qyvf5b5WEt .carousel-inner.slides5 .cloneditem-1,
  .cid-qyvf5b5WEt .carousel-inner.slides5 .cloneditem-2,
  .cid-qyvf5b5WEt .carousel-inner.slides5 .cloneditem-3,
  .cid-qyvf5b5WEt .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
}
/*# sourceMappingURL=about.css.map */