@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");

$bg: #fff;
$text: #ffffff;
$gray: #4d5974;
$lightgray: #e5e5e5;
$blue: #254e58;

$shadow: 0 4px 12px -2px rgba(#6b75a1, 0.16);
$c-darkGray: #4a4a4e;
$ease: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
// body {
//   margin: 0;
//   padding: 0;
//   font-family: "Hind", sans-serif;
//   background: $bg;
//   color: $gray;
//   display: flex;
//   min-height: 100vh;
// }

.container-main {
  margin: 0 auto;
  padding: 12rem;
}
@media (max-width: 990px) {
  .container-main {
    padding-top: 12rem !important;
    padding: 5rem;
  }
}
@media (max-width: 870px) {
  .container-main {
    padding-top: 1rem !important;
    padding: 1rem;
  }
}

.accordion {
  .accordion-item {
    border-bottom: 1px solid $lightgray;
    button[aria-expanded="true"] {
      border-bottom: 1px solid $blue;
    }
  }
  .Buttonwork {
    text-align: center;
    padding: 1em 1em;
    width: fit-content;
    color: $text;
    font-size: 1.15rem;
    font-weight: 400;
    background-color: #254e58;
    border-radius: 25px;
  }
  .Buttonwork:hover {
    background-color: #03b5d2;
  }
  button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: $text;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    &:hover,
    &:focus {
      cursor: pointer;
      color: $blue;
      &::after {
        cursor: pointer;
        color: $blue;
        border: 1px solid $blue;
      }
    }
    .accordion-title {
      padding: 1em 1.5em 1em 0;
    }
    .icon {
      display: inline-block;
      position: absolute;
      top: 18px;
      right: 0;
      width: 22px;
      height: 22px;
      border: 1px solid;
      border-radius: 22px;
      &::before {
        display: block;
        position: absolute;
        content: "";
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
      }
      &::after {
        display: block;
        position: absolute;
        content: "";
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
      }
    }
  }
  button[aria-expanded="true"] {
    color: $blue;
    .icon {
      &::after {
        width: 0;
      }
    }
    + .accordion-content {
      opacity: 1;
      max-height: 15rem;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    }
  }
  .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    p {
      font-size: 1rem;
      font-weight: 300;
      margin: 2em 0;
    }
    .continue-application {
      --color: #fff;
      --background: #404660;
      --background-hover: #3a4059;
      --background-left: #2b3044;
      --folder: #f3e9cb;
      --folder-inner: #beb393;
      --paper: #ffffff;
      --paper-lines: #bbc1e1;
      --paper-behind: #e1e6f9;
      --pencil-cap: #fff;
      --pencil-top: #275efe;
      --pencil-middle: #fff;
      --pencil-bottom: #5c86ff;
      --shadow: rgba(13, 15, 25, 0.2);
      width: 250px;
      position: relative;
      bottom: 15px;
      border: none;
      outline: none;
      cursor: pointer;
      position: relative;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 500;
      line-height: 19px;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: transparent;
      padding: 17px 29px 17px 69px;
      transition: background 0.3s;
      color: var(--color);
      background: var(--bg, var(--background));
      & > div {
        top: 0;
        left: 0;
        bottom: 0;
        width: 53px;
        position: absolute;
        overflow: hidden;
        border-radius: 5px 0 0 5px;
        background: var(--background-left);
        .folder {
          width: 23px;
          height: 27px;
          position: absolute;
          left: 15px;
          top: 13px;
          .top {
            left: 0;
            top: 0;
            z-index: 2;
            position: absolute;
            transform: translateX(var(--fx, 0));
            transition: transform 0.4s ease var(--fd, 0.3s);
            svg {
              width: 24px;
              height: 27px;
              display: block;
              fill: var(--folder);
              transform-origin: 0 50%;
              transition: transform 0.3s ease var(--fds, 0.45s);
              transform: perspective(120px) rotateY(var(--fr, 0deg));
            }
          }
          &:before,
          &:after,
          .paper {
            content: "";
            position: absolute;
            left: var(--l, 0);
            top: var(--t, 0);
            width: var(--w, 100%);
            height: var(--h, 100%);
            border-radius: 1px;
            background: var(--b, var(--folder-inner));
          }
          &:before {
            box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow),
              0 3.5px 7px var(--shadow);
            transform: translateX(var(--fx, 0));
            transition: transform 0.4s ease var(--fd, 0.3s);
          }
          &:after,
          .paper {
            --l: 1px;
            --t: 1px;
            --w: 21px;
            --h: 25px;
            --b: var(--paper-behind);
          }
          &:after {
            transform: translate(var(--pbx, 0), var(--pby, 0));
            transition: transform 0.4s ease var(--pbd, 0s);
          }
          .paper {
            z-index: 1;
            --b: var(--paper);
            &:before,
            &:after {
              content: "";
              width: var(--wp, 14px);
              height: 2px;
              border-radius: 1px;
              transform: scaleY(0.5);
              left: 3px;
              top: var(--tp, 3px);
              position: absolute;
              background: var(--paper-lines);
              box-shadow: 0 12px 0 0 var(--paper-lines),
                0 24px 0 0 var(--paper-lines);
            }
            &:after {
              --tp: 6px;
              --wp: 10px;
            }
          }
        }
        .pencil {
          height: 2px;
          width: 3px;
          border-radius: 1px 1px 0 0;
          top: 8px;
          left: 105%;
          position: absolute;
          z-index: 3;
          transform-origin: 50% 19px;
          background: var(--pencil-cap);
          transform: translateX(var(--pex, 0)) rotate(35deg);
          transition: transform 0.4s ease var(--pbd, 0s);
          &:before,
          &:after {
            content: "";
            position: absolute;
            display: block;
            background: var(
              --b,
              linear-gradient(
                var(--pencil-top) 55%,
                var(--pencil-middle) 55.1%,
                var(--pencil-middle) 60%,
                var(--pencil-bottom) 60.1%
              )
            );
            width: var(--w, 5px);
            height: var(--h, 20px);
            border-radius: var(--br, 2px 2px 0 0);
            top: var(--t, 2px);
            left: var(--l, -1px);
          }
          &:before {
            clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
          }
          &:after {
            --b: none;
            --w: 3px;
            --h: 6px;
            --br: 0 2px 1px 0;
            --t: 3px;
            --l: 3px;
            border-top: 1px solid var(--pencil-top);
            border-right: 1px solid var(--pencil-top);
          }
        }
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 2px;
        border-radius: 1px;
        background: var(--color);
        transform-origin: 9px 1px;
        transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
        top: 26px;
        right: 16px;
        transition: transform 0.3s;
      }
      &:after {
        --r: 45deg;
      }
      &:hover {
        --cx: 2px;
        --bg: var(--background-hover);
        --fx: -40px;
        --fr: -60deg;
        --fd: 0.15s;
        --fds: 0s;
        --pbx: 3px;
        --pby: -3px;
        --pbd: 0.15s;
        --pex: -24px;
      }
    }
  }
}

.btns {
  background-color: #03b5d2;
  color: black;
}
