@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
.container-main {
  margin: 0 auto;
  padding: 12rem;
}

@media (max-width: 990px) {
  .container-main {
    padding-top: 12rem !important;
    padding: 5rem;
  }
}

@media (max-width: 870px) {
  .container-main {
    padding-top: 1rem !important;
    padding: 1rem;
  }
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid #254e58;
}

.accordion .Buttonwork {
  text-align: center;
  padding: 1em 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
  font-size: 1.15rem;
  font-weight: 400;
  background-color: #254e58;
  border-radius: 25px;
}

.accordion .Buttonwork:hover {
  background-color: #03b5d2;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #ffffff;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #254e58;
}

.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #254e58;
  border: 1px solid #254e58;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded="true"] {
  color: #254e58;
}

.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}

.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 15rem;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 200ms linear, max-height 200ms linear;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

.accordion .accordion-content .continue-application {
  --color: #ffffff;
  --background: #404660;
  --background-hover: #3a4059;
  --background-left: #2b3044;
  --folder: #f3e9cb;
  --folder-inner: #beb393;
  --paper: #ffffff;
  --paper-lines: #bbc1e1;
  --paper-behind: #e1e6f9;
  --pencil-cap: #fff;
  --pencil-top: #275efe;
  --pencil-middle: #fff;
  --pencil-bottom: #5c86ff;
  --shadow: rgba(13, 15, 25, 0.2);
  width: 250px;
  position: relative;
  bottom: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 17px 29px 17px 69px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  color: var(--color);
  background: var(--bg, var(--background));
}

.accordion .accordion-content .continue-application > div {
  top: 0;
  left: 0;
  bottom: 0;
  width: 53px;
  position: absolute;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  background: var(--background-left);
}

.accordion .accordion-content .continue-application > div .folder {
  width: 23px;
  height: 27px;
  position: absolute;
  left: 15px;
  top: 13px;
}

.accordion .accordion-content .continue-application > div .folder .top {
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  -webkit-transform: translateX(var(--fx, 0));
          transform: translateX(var(--fx, 0));
  -webkit-transition: -webkit-transform 0.4s ease var(--fd, 0.3s);
  transition: -webkit-transform 0.4s ease var(--fd, 0.3s);
  transition: transform 0.4s ease var(--fd, 0.3s);
  transition: transform 0.4s ease var(--fd, 0.3s), -webkit-transform 0.4s ease var(--fd, 0.3s);
}

.accordion .accordion-content .continue-application > div .folder .top svg {
  width: 24px;
  height: 27px;
  display: block;
  fill: var(--folder);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: -webkit-transform 0.3s ease var(--fds, 0.45s);
  transition: -webkit-transform 0.3s ease var(--fds, 0.45s);
  transition: transform 0.3s ease var(--fds, 0.45s);
  transition: transform 0.3s ease var(--fds, 0.45s), -webkit-transform 0.3s ease var(--fds, 0.45s);
  -webkit-transform: perspective(120px) rotateY(var(--fr, 0deg));
          transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.accordion .accordion-content .continue-application > div .folder:before, .accordion .accordion-content .continue-application > div .folder:after,
.accordion .accordion-content .continue-application > div .folder .paper {
  content: "";
  position: absolute;
  left: var(--l, 0);
  top: var(--t, 0);
  width: var(--w, 100%);
  height: var(--h, 100%);
  border-radius: 1px;
  background: var(--b, var(--folder-inner));
}

.accordion .accordion-content .continue-application > div .folder:before {
  -webkit-box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
          box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
  -webkit-transform: translateX(var(--fx, 0));
          transform: translateX(var(--fx, 0));
  -webkit-transition: -webkit-transform 0.4s ease var(--fd, 0.3s);
  transition: -webkit-transform 0.4s ease var(--fd, 0.3s);
  transition: transform 0.4s ease var(--fd, 0.3s);
  transition: transform 0.4s ease var(--fd, 0.3s), -webkit-transform 0.4s ease var(--fd, 0.3s);
}

.accordion .accordion-content .continue-application > div .folder:after,
.accordion .accordion-content .continue-application > div .folder .paper {
  --l: 1px;
  --t: 1px;
  --w: 21px;
  --h: 25px;
  --b: var(--paper-behind);
}

.accordion .accordion-content .continue-application > div .folder:after {
  -webkit-transform: translate(var(--pbx, 0), var(--pby, 0));
          transform: translate(var(--pbx, 0), var(--pby, 0));
  -webkit-transition: -webkit-transform 0.4s ease var(--pbd, 0s);
  transition: -webkit-transform 0.4s ease var(--pbd, 0s);
  transition: transform 0.4s ease var(--pbd, 0s);
  transition: transform 0.4s ease var(--pbd, 0s), -webkit-transform 0.4s ease var(--pbd, 0s);
}

.accordion .accordion-content .continue-application > div .folder .paper {
  z-index: 1;
  --b: var(--paper);
}

.accordion .accordion-content .continue-application > div .folder .paper:before, .accordion .accordion-content .continue-application > div .folder .paper:after {
  content: "";
  width: var(--wp, 14px);
  height: 2px;
  border-radius: 1px;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
  left: 3px;
  top: var(--tp, 3px);
  position: absolute;
  background: var(--paper-lines);
  -webkit-box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
          box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}

.accordion .accordion-content .continue-application > div .folder .paper:after {
  --tp: 6px;
  --wp: 10px;
}

.accordion .accordion-content .continue-application > div .pencil {
  height: 2px;
  width: 3px;
  border-radius: 1px 1px 0 0;
  top: 8px;
  left: 105%;
  position: absolute;
  z-index: 3;
  -webkit-transform-origin: 50% 19px;
          transform-origin: 50% 19px;
  background: var(--pencil-cap);
  -webkit-transform: translateX(var(--pex, 0)) rotate(35deg);
          transform: translateX(var(--pex, 0)) rotate(35deg);
  -webkit-transition: -webkit-transform 0.4s ease var(--pbd, 0s);
  transition: -webkit-transform 0.4s ease var(--pbd, 0s);
  transition: transform 0.4s ease var(--pbd, 0s);
  transition: transform 0.4s ease var(--pbd, 0s), -webkit-transform 0.4s ease var(--pbd, 0s);
}

.accordion .accordion-content .continue-application > div .pencil:before, .accordion .accordion-content .continue-application > div .pencil:after {
  content: "";
  position: absolute;
  display: block;
  background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
  width: var(--w, 5px);
  height: var(--h, 20px);
  border-radius: var(--br, 2px 2px 0 0);
  top: var(--t, 2px);
  left: var(--l, -1px);
}

.accordion .accordion-content .continue-application > div .pencil:before {
  -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
          clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.accordion .accordion-content .continue-application > div .pencil:after {
  --b: none;
  --w: 3px;
  --h: 6px;
  --br: 0 2px 1px 0;
  --t: 3px;
  --l: 3px;
  border-top: 1px solid var(--pencil-top);
  border-right: 1px solid var(--pencil-top);
}

.accordion .accordion-content .continue-application:before, .accordion .accordion-content .continue-application:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 1px;
  background: var(--color);
  -webkit-transform-origin: 9px 1px;
          transform-origin: 9px 1px;
  -webkit-transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
          transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
  top: 26px;
  right: 16px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.accordion .accordion-content .continue-application:after {
  --r: 45deg;
}

.accordion .accordion-content .continue-application:hover {
  --cx: 2px;
  --bg: var(--background-hover);
  --fx: -40px;
  --fr: -60deg;
  --fd: 0.15s;
  --fds: 0s;
  --pbx: 3px;
  --pby: -3px;
  --pbd: 0.15s;
  --pex: -24px;
}

.btns {
  background-color: #03b5d2;
  color: black;
}
/*# sourceMappingURL=classes.css.map */